<form>
    <label>I am...</label>
    <div>
        <label>Police</label>
        <input type="radio" value="Police" />
    </div>
    <div>
        <label>Firefighter</label>
        <input type="radio" value="Firefighter" />
    </div>
    <div>
        <label>Medic</label>
        <input type="radio" value="Medic" />
    </div>

    <button type="submit" class="submit-location">Start</button>
</form> 