body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 2.4em;
}

.type-selector {
    margin-bottom: 2em;
}

.info {
    font-size: .7em;
}

.submit-location {
    cursor:pointer;
    background: #F44336;
    border: 0;
    width: 100%;
    padding: 0.7em 0;
    line-height: 1;
    border-radius: 3px;
}
